@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.welcome-navbar{
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b4b3e;
    padding: 0.01rem 2rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-left {
    display: flex;
    align-items: center;
    font-family: 'Merriweather', serif;
    color:#ffd6af;
    gap: 0.5rem;
     font-weight: 100;
}

.nav-left h1{
    font-weight: 100;
}

.nav-right{
    display: flex;
    gap: 2rem;
}

.wnavbar-button{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.wnavbar-button:hover{
    color: #ffd6af;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Specific styles for iPhone 12 Pro and similar devices (viewport width around 390px) */
@media (max-width: 414px) and (min-height: 800px) {
    .welcome-navbar {
        height: 7vh;
        padding: 0.01rem 1rem;
    }
    .nav-left {
        gap: 0.3rem;
        font-size: 0.9em;
    }
    .nav-left h1 {
        font-size: 1.2em;
    }
    .nav-right {
        gap: 1rem;
    }
    .wnavbar-button {
        font-size: 0.8rem;
    }
}
