.signup-container {
    background-color: #f4f7f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.signup-content {
    background-color: #f4f7f2;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.signup-form-container {
    position: relative;
    width: 385px;
    height: 749px;
    margin-left: 41px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(8px);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    z-index: 2;
    border-radius: 9px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px;
    box-sizing: border-box;
}

.signup-title {
    width: 336px;
    margin-top: 70px;
    font-family: 'Merriweather-Regular', Helvetica;
    font-weight: normal;
    color: #2d2d2d;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.23px;
    flex-shrink: 0;
}

.readr-title {
    color: #d4b866;
}

.signup-form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.input-group {
    width: 272px;
    margin: 0 0 25px 0;
}

.input-group label {
    display: block;
    color: #2d2d2d;
    margin-bottom: 8px;
}

.input-group input {
    width: 272px;
    height: 40px;
    padding: 0 16px;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    color: black;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.9);
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #d4b866;
    background-color: rgba(255, 255, 255, 0.95);
}

.email-input {
    margin-top: 0;
}

.password-input {
    margin-top: 0;
}

.confirm-password-input {
    margin-top: 0;
}

.error-message {
    color: #dc2626;
    text-align: center;
    width: 272px;
    margin: 0 0 15px 0;
    order: 1;
}

.signup-button {
    width: 272px;
    margin: 0 0 0 0;
    height: 40px;
    background-color: rgba(44, 44, 44, 0.9);
    color: white;
    border-radius: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: all 0.3s;
    order: 2;
}

.signup-button:hover {
    background-color: rgba(58, 58, 58, 0.95);
    transform: scale(1.05);
}

.signup-link {
    color: #2d2d2d;
    text-align: center;
    width: 272px;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
}

.signup-link a {
    color: #d4b866;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.signup-image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.signup-image {
    position: absolute;
    width: 987px;
    height: 750px;
    top: 7px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid black;
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.25);
}
