@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

.left-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
    width: 40%;
    padding-left: 5%;
}

.left-div p{
    font-family: 'Inter', serif;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 2.5rem; /* Keep some space below for the buttons */
}

.left-div h1{
    margin-bottom: 0.5rem;
}

.left-div h1 span{
    color: #D4B866;
    font-weight: 1500;
}

.hero-buttons{
    display: flex;
    gap: 2rem;
}

.hero-buttons button{
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition:all 0.3s ease;
    min-width: 120px;
}

.sign-in-btn {
    background-color: #26342D;
    color: white;
}

.sign-in-btn:hover {
    background-color: #3a4d3a;
    transform: translateY(-2px);
    color:#D4B866;
}

.get-started-btn {
    background-color: #26342D;
    color: white;
}

.get-started-btn:hover {
    background-color: #3a4d3a;
    transform: translateY(-2px);
     color:#D4B866;
}

.welcome-hero {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px; 
    min-height: 90vh; 
    position: relative;
}

.welcome-hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%; 
    right: 0;
    width: auto;
    height: 100%;
    background: 
        linear-gradient(90deg, 
            rgba(255,255,255,1) 0%, 
            rgba(255,255,255,0.8) 30%, 
            rgba(255,255,255,0.1) 100%
        ), 
        url('../pictures/WelcomePage2.jpg');
    background-size: cover;
    background-position: 80% center;
    background-repeat: no-repeat;
    z-index: -1;
}