.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    z-index: 9999; /*surpasses navbar*/
}

.container{
padding: 8px;
max-width: 600px;
border-radius: 8px;
}

.icon-mask {
  width: 40px;
  height: 40px;
  background-color: #494c4f; 
  mask: url('arrow.png') no-repeat center;
  -webkit-mask: url('arrow.png') no-repeat center;
  background-size: contain;
  mask-size: contain;

  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10000; 
  cursor: pointer;
}
